<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index">

  <h3>Kaartverkoop</h3>
  <br>
 <p>Met groot enthousiasme zijn een groep oud-dieselaars, wij dus, een reünie voor oud-leerlingen en leraren van De openbare scholengemeenschap ‘De Dissel’ in Emmen aan het organiseren.</p>
<p>Op 5 november aanstaande wordt het een prachtig feest voor allen die in de periode van 1980 tot en met 1994 op ‘De Dissel’ gezeten of gewerkt hebben.</p>
<p>Inmiddels is de grote zaal van het Hampshire hotel in Emmen (Van Schaikweg 55) gehuurd en zijn de dj’s vastgelegd. We hopen deze ruimte te vullen met veel enthousiaste ex Disselaars. Jullie dus! Per schooljaar zaten er zo’n 1000 leerlingen op deze prachtige school. Om zoveel mogelijk van deze ‘oud’ Disselgangers te kunnen bereiken vragen we jullie om zoveel mogelijk oud klasgenoten op te snorren. Na al die jaren zijn veel oud schoolgenoten verhuisd en verspreid over het hele land (wereld) en wat zou het fantastisch zijn als we elkaar deze avond allemaal weer treffen.</p>
<p> <a href="https://www.facebook.com/groups/194919854203127">Op Facebook (<code class="highlighter-rouge">klik hier</code> om naar de Facebook groep te gaan)</a> hebben zich al meer dan 1200 leden aangemeld. De leuke verhalen en anekdotes komen flink op gang zijn hier te lezen. De eerste afspraken om te gaan eten met oude klasgenoten zijn gemaakt.</p>
<p>Behoefte is er dus hoe gaaf zou het zijn wanneer iedereen uit jouw klas(sen) hierbij kan zijn.</p>
<p>De kaartverkoop is gestart. Je kunt hiervoor terrecht <a href="http://www.eventics.nl/event/reunie-de-dissel">op de site van Eventics klik op deze link om kaarten te kopen.</a></p>
      </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
